body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #282c34;
  font-family: "Courier New", Courier, monospace;
  color: #61dafb;
  font-size: 1.5em;
  margin: 0;
  overflow: hidden; /* Empêche les barres de défilement */
}
@media (max-width: 400px) {
  body {
    transform: rotate(90deg);
  }
}

.typing-container {
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Cache tout ce qui dépasse */
  /* border-right: .15em solid orange;  */
  /* Bordure pour le curseur initial */
  padding-right: 0.5em; /* Espace entre le texte et le curseur */
}

/* Style du curseur clignotant */
.cursor {
  display: inline-block; /* Pour qu'il puisse avoir une largeur/hauteur */
  width: 0.15em; /* Largeur du curseur */
  height: 1.2em; /* Hauteur du curseur (ajuster selon la taille du texte) */
  background-color: orange; /* Couleur du curseur */
  vertical-align: middle; /* Alignement avec le texte */
  animation: blink-caret 0.9s step-end infinite; /* Animation de clignotement */
}

/* Animation du curseur */
@keyframes blink-caret {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: orange;
  }
}
